SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="0", RUN+="/usr/bin/systemctl unmask sleep.target suspend.target hibernate.target hybrid-sleep.target"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="1", RUN+="/usr/bin/systemctl mask sleep.target suspend.target hibernate.target hybrid-sleep.target"

